.main-frame {
    width: 70%;
    height: 600px;
    background-color: rgba(27, 126, 255, 0.725);
    margin: 100px;
    padding: 20px;
    border-radius: 10px;
    border: solid 5px rgb(21, 65, 148);
}

.bet-button {
    padding: 5px;
    margin: 20px;
    border-radius: 4px;
    border: solid 2px rgb(68, 124, 71);
    background-color: rgb(56, 151, 64);
}

.bet-button:hover {
    background-color: rgb(68, 124, 71);
}